# BSD 3-Clause License All rights reserved.
#
# SPDX-License-Identifier: BSD 3-Clause License

irods*.yaml filter=git-crypt diff=git-crypt
test*.yaml filter=git-crypt diff=git-crypt
base*.yaml filter=git-crypt diff=git-crypt
