# SPDX-FileCopyrightText: 2024 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

irods*.yaml filter=git-crypt diff=git-crypt
test*.yaml filter=git-crypt diff=git-crypt
base*.yaml filter=git-crypt diff=git-crypt
