# BSD 3-Clause All rights reserved.
#
# SPDX-License-Identifier: BSD 3-Clause

irods*.yaml filter=git-crypt diff=git-crypt
test*.yaml filter=git-crypt diff=git-crypt
base*.yaml filter=git-crypt diff=git-crypt
