# SPDX-FileCopyrightText: 2024 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "irods-rabbitmq.fullname" . }}-secrets
type: Opaque
data:
  queue_user: {{ .Values.secrets.queueUser | b64enc | quote }}
  queue_pw: {{ .Values.secrets.queuePassword | b64enc | quote }}
  queue_admin_pw: {{ .Values.secrets.queueAdminPassword | b64enc | quote }}